.colors {
    color: #F57C00;
    color: #FF9800;
    color: #FFE0B2;

    color: #0288D1;
    color: #03A9F4;
    color: #B3E5FC;

    color: #212121;
    color: #757575;
    color: #BDBDBD;
    color: #FFFFFF;
}

* {
    font-family: "Roboto", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    line-height: 1.25 !important;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #212121;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    resize: none;
    transition: background-color .4s, border-color .4s, color .4s, fill .1s, opacity .4s;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-clip: border-box;
    border-radius: 8px;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #FFE0B2;
}

hr {
    width: 100%;
    height: 2px;
    border-radius: 12px;
    background-color: #FFE0B2;
    margin-bottom: 40px;
}

input,
textarea {
    width: 100%;
    font-size: 24px;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 32px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

input:focus,
textarea:focus {
    border: 2px solid #03A9F4;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #757575;
    font-weight: normal;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #757575;
    font-weight: normal;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #757575;
    font-weight: normal;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #757575;
    font-weight: normal;
}

input::placeholder,
textarea::placeholder {
    color: #757575;
    font-weight: normal;
}

p {
    font-weight: 400;
    white-space: normal;
    overflow: visible;
}

button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #212121;
}

button:hover {
    color: #03A9F4;
    background-color: #212121;
}

img {
    overflow: visible;
}

.none {
    display: none !important;
}

.center {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.user-avatar {
    min-width: 64px;
    min-height: 64px;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-right: 20px;
    border: 2px solid #F57C00;
    border-radius: 50%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}