#login {
    z-index: 100;
    width: 50vw;
    height: 50vh;
    border-radius: 40px;
    background-color: #F57C00;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &.enter {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        transition: width .4s, height .4s, border-radius .4s;
    }

    .input-nickname {
        width: 40vw;
        text-align: center;
    }
}